@CHARSET "EUC-KR";


/* 숨김 요소 */
legend, #header h2, #slogan h2, #footer h2 {
	position:absolute;
	overflow:hidden;	
	width:1px;
	height:1px;
	font-size:0;
	line-height:0;
}
/* body 스타일 */
body {
	color:#000;
	font-size:75%;
	line-height:1.2;
	font-family:"돋움", Dotum, "굴림", Gulim, Verdana, AppleGothic, sans-serif;
	background: url(../images/common/bg_body.gif) repeat-x 0 0;
}
/* 링크 */
a, a:link {
	color:#4f4f4f;
	text-decoration:none;
} 
a:visited {
	color:#8a2e91;
	text-decoration:none;
}
a:hover {
	color:#f00;
	text-decoration:underline;
}
a:focus {
	color:#f00;
	text-decoration:underline;
}
a:active {
	color:#f00;
	text-decoration:none;
} 
/* 이미지, 폼관련 요소 */
img {
	vertical-align:top;
}
label, select, input, textarea {
	vertical-align:middle;
}
/* -------------------------------------------------- */












