@charset "UTF-8";

#wrapper {
	background: url("../images/common/wrap_bg.jpg") no-repeat top center;
}

#header {
	background: url("../images/common/bg_menubox.png") no-repeat 0 0;
	width: 940px;
	height: 105px;
}

#infoMenu {
	text-align: right;
	margin-right: 80px;
	padding: 8px 0 7px 0;
	font-size: 0.9em;
}

#infoMenu li {
	display: inline;
	padding: 0 3px 0 8px;
}

.logo {
	position: absolute;
	top: 30px;
	left: 30px;
}

#navigation {
	width: 840px;
	height: 43px;
	background: url("../images/common/sitemenu_bg.gif") no-repeat 0 0;
}

#navigation li {
	float: left;
}

#navigation li.first {
	margin-left: 215px;
}

#naviSub01 {
	position: absolute;
	top: 77px;
}

#contents {
	width: 940px;
	height: 400px;
	background: url("../images/common/contents_box.png") no-repeat 0 0;
	position: relative;
}

#subWrap {
	width: 215px;
	height: 200px;
	float: left;
	background: url("../images/common/subwrap_bg.gif") no-repeat 0 0;
}

#contentsWrap {
	width: 590px;
	float: left;
}

.depth{
	float: right;
	
}

#quick {
	width: 40px;
	float: right;
}

#subWrap {
	position :absolute;
	top: 50px;
	left : 8px;
	text-align: center;
	width: 200px;
	height: 200px;
	padding-left: 13px;
	background: url("../images/common/subwrap_bg.gif") no-repeat right ;
}

#subWrap li{
	border-top: 2px solid orangered;
	padding : 8px;
	left: 10px;
	text-align: left;
}

#subWrap ul{
	margin-bottom: 20px;
	background: url("../images/common/icon_submenu.gif") no-repeat left ;
}

.select{
	margin-top: 10px;
	background: url("../images/common/icon_submenu_ov.gif") no-repeat left ;
	font-weight: bold;
	font: orange;
}

#contentsWrap{
	position: absolute;
	top :50px;
	left : 250px;
}

#contentsWrap h1{
	padding-bottom : 15px;
	border-bottom: 2px dotted #D5D5D5;
}

#contentsArea{
	margin-top: 10px;
}

#quick{
	width: 50px;
	height: 100px;
}

.quick li{
	margin : 10px;
}

.search{
	top:50px;
	background: lightgray;
	}
	
.guideMenu li{
	background: gray;
	width: 130px;
	height : 20px;
	padding : 10px;
	float : left;
	font-weight: bold;
	font: white;
	border-left: 1px solid white;
}

#footer{
	background-image: linear-gradient(lightgray, white);
}

.sloganImg{
	float: left;
	bottom: 50px;
}

.footerInner{
}
.footerLogo{
	display : inline;

}

address{
	 margin: 10px 0 0 5px;
}


























